@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", serif;
  --primary-color: #FF8080;
  --secondary-color: #FF3737;
  --background-color: #4D4D4D;
  --accent-color: #EF901D;
  --text-color: #fff;
  --white-color: #fff;
  --black-color: #000;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

